
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
    background-color:rgb(231, 231, 231);
    border-radius: 20px; 
    width: 60%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20px;
}

.sign_up-container {
    background-color:rgb(231, 231, 231);
    border-radius: 20px; 
    width: 47%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20px;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;  
}

#sign_upForm {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #4caf50;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #333;
    flex-direction: column;
    width: 200px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}