{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>Athlete Dashboard</title>
{% endblock %}

{% block content %}
    <h2>Select a Trainer</h2>

    <ul>
        {% for trainer in trainers %}
            <li>
                <a href="{% url 'trainer_open_appointments' trainer.id %}">
                    {{ trainer.username }}
                </a>
           </li>
        {% empty %}
           <li>No availability</li>
        {% endfor %}
    </ul>
{% endblock %}